<!DOCTYPE html>
<html lang="en">
<head>
  
  <title>Don'tGoIbobo</title>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  {% load static %}  
  <link href="{% static 'css/css_hotel_page.css' %}" rel="stylesheet">   

<style>

  
.width {
      height:75px;
    }

    .space {
      margin-top:10%;
    }

    .space2 {
      margin-top:0.85%;
    }

    .leave1 {
      margin-top:7%;
      text-align: center;
    }

    .leave2 {
      margin-top:2%;
    }

    .shift {
      height:50%;
      width:50%;
      
    
    }.sliderWrapper {
      text-align: center;
      background-color:white;
      background-size:cover;
      padding:15px;
      margin-left:15%;
      border-radius: 10px;
  }   

   


</style>

</head>

<body style="height:1500px">

  <nav class="navbar navbar-inverse navbar-fixed-top width">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand space" href="#">DontGoIbibo</a>
      </div>
      <ul class="nav navbar-nav space2">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Hotels</a></li>
        <li><a href="#">Flights</a></li>
        <li><a href="#">Cabs</a></li>
      </ul>
    </div>
  </nav>
  